@import url("reset.css");

ol, ul {
	list-style:none;
}

.menu {
	width:800px;
	height:190px;
    display:inline-block;
    margin-left: 160px;
}
.menu ul, .menu ul {
	width:800px;
	height:153px;
	margin:0 auto;
	overflow:hidden;
}
.menu li, .menu li {
	float:left;
	margin-right:5px;
	margin-top:56px;
}
.menu li a, .menu li a {
	display:block;
	width:160px;
	height:153px;
	text-indent:-9999px;
	transition: 0.5s;
}

.menu li.p1 a {
	background-image:url(../images/tab/tab_p1.png);
}
.menu li.p2 a {
	background-image:url(../images/tab/tab_p2.png);
}
.menu li.p3 a {
	background-image:url(../images/tab/tab_p3.png);
}
.menu li.p4 a {
	background-image:url(../images/tab/tab_p4.png);
}
.menu li.p5 a {
	background-image:url(../images/tab/tab_p5.png);
}
.menu li.p6 a {
	background-image:url(../images/tab/tab_p6.png);
}
.menu li.p7 a {
	background-image:url(../images/tab/tab_p7.png);
}
.menu li.p8 a {
	background-image:url(../images/tab/tab_p8.png);
}
.menu li.p9 a {
	background-image:url(../images/tab/tab_p9.png);
}
.menu li.p10 a {
	background-image:url(../images/tab/tab_p10.png);
}
.menu li.p11 a {
	background-image:url(../images/tab/tab_p11.png);
}
.menu li.p12 a {
	background-image:url(../images/tab/tab_p12.png);
}
.menu li.p13 a {
	background-image:url(../images/tab/tab_p13.png);
}
.menu li.p14 a {
	background-image:url(../images/tab/tab_p14.png);
}
.menu li.p15 a {
	background-image:url(../images/tab/tab_p15.png);
}
.menu li.p16 a {
	background-image:url(../images/tab/tab_p16.png);
}

.menu h1 {
	width:1000px;
	height:30px;
	background-image:url(../images/bg.jpg);
	text-indent:-9999px;
}
